.gaugeContainer {
    position: relative;
    width: 60px;
    height: 35px;
    /* Half of width roughly + padding */
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.percentageText {
    position: absolute;
    bottom: 5px;
    font-size: 11px;
    font-weight: 700;
    color: #1a1a1a;
    letter-spacing: -0.5px;
}